include data

mixin is-card-pic(card)
    if card.pic
        .mc-card(style=`background-image: url(${card.pic});`)
            block
    else
        .mc-card
            block

mixin mc-card(card)
        +is-card-pic(card)
            .mc-card__inner
                .mc-card__top
                    a(href='javascript:void()').mc-card__favorite
                    .mc-card__date=card.date
                    .mc-card__city=card.cite
                .mc-card__content
                    ul.mc-card__tags
                        for tag in card.tags
                            li(class=tag.color)=tag.label
                    a(href='#').mc-card__title=card.title
                .mc-card__bottom
                    .mc-card__price
                        | Стоимость
                        |
                        span.mc-card__price-pretext
                            | от
                            |
                        span.mc-card__price-value #{card.price} руб.

mixin master-class-top
    section.master-class-top
        .wrapper-inner
            .container
                .mc-card__list
                    for card in mcCardList.cardWithPic
                        +mc-card(card)
mixin master-class
    .master-class
        .mc-card__list
            for card in mcCardList.cards
                +mc-card(card)
        .button-link__wrap
            a(href='javascript:void(0)').button-more.master-class__button Загрузить еще