mixin select(options, jsClass=false, label=false, modifacator=false)
    section.select(class=modifacator ? modifacator : '')
        .container
            .select-wrap
                if label
                    label(for='sort').select-label=label
                select(name='sort', id='sort', class=jsClass ? jsClass : '').select-tag
                    for item, key in options
                        option(value=item)=item